{% extends 'example.html' %}
<title>
    {% block title %}
    Form Page
    {% endblock title %}
</title>

<body>

    {% block c %}
    <h1 class="container text-center">My Form</h1>
    <div class="container w-75 mt-5">
        <form method="POST" action="{% url 'submit' %}">
            {% csrf_token %}
            <input class="form-control-plaintext align-baseline" type="text" placeholder="Ready.." readonly>
            <div class="form-group">
                <label>text</label>
                <input class="form-control" type="text" placeholder="enter your text" name="t1" id="t1">
            </div>

            <div class="form-group">
                <label>plaintext</label>
                <input class="form-control" type="text" placeholder="enter your text" name="t2" id="t2">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" style="margin: 0 auto; display: block;">submit</button>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
            </div>
        </form>
    </div>

    {% endblock c %}
</body>