{% extends 'example.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        image page
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    {% block c %}
    this is images page
    <div class="container-fluid">
        <div class="row">
            <div class="clo-md-6">
                <img src="{% static 'images\django.png' %}" alt="Responsive" class="img-fluid">
            </div>
            <div class="clo-md-6">
                <img src="{% static 'images\python.png' %}" alt="Responsive" class="img-fluid">
            </div>
        </div>
    </div>

    {% endblock c %}


</body>

</html>