{% extends 'example.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        image page 3
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


{% block body %}

<body class="bg-{{color}}">

    {% block c %}
    this is images page 5
    <div class="container-fluid">
        <div class="row bg-">

        </div>
    </div>

    {% endblock c %}


</body>
{% endblock body %}

</html>